@using _3DCytoFlow
@model Analysis

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Analysis</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Delta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Delta" class="form-control" />
                <span asp-validation-for="Delta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FcsFilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FcsFilePath" class="form-control" />
                <span asp-validation-for="FcsFilePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FcsUploadDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FcsUploadDate" class="form-control" />
                <span asp-validation-for="FcsUploadDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResultDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResultDate" class="form-control" />
                <span asp-validation-for="ResultDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResultFilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResultFilePath" class="form-control" />
                <span asp-validation-for="ResultFilePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

