@{
    ViewBag.Title = "3D CytoFlow";
}

<div id="page-wrapper">
    <br/>
    <div class="jumbotron">
        <h1>3D CytoFlow</h1>
        <p class="lead">3D CytoFlow is a new way to interact with flow cytometry data.</p>
        <p><a href="http://www.sumitkumarjha.com/publications/fault-tolerant-memory-crossbar-computing-using-quantified-constraint-solving" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>
</div>