<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D CytoFlow</title>
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"cd0af4f0-c767-4266-9968-887461df8b4b"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Site.css"/>
        <link rel="stylesheet" href="~/css/bootstrapValidator.min.css"/>
        <link rel="stylesheet" href="~/css/metisMenu.css"/>
        <link rel="stylesheet" href="~/css/timeline.css"/>
        <link rel="stylesheet" href="~/css/datepicker.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/modernizr-2.8.3.js"></script>
    <script src="~/js/spin.js"></script>
    <script src="~/js/respond.js"></script>
    <style>
        .container {
            width: calc(100% - 236px);
            position: absolute;
            margin-left: 236px;
        }
        footer.container.body-content {
            position: absolute;
            margin-left: 0px;
        }
    </style>
</head>
<body>
    @*Render Navigation Menu*@
@{
    // Wait for the navigation menu to be loaded
    @await Html.PartialAsync("NavigationMenu");
}
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Loading...
            </p>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container body-content">
            <p style="text-align: center; margin-top: 5px;">&copy; @DateTime.Now.Year - 3DCytoFlow</p>
        </footer>
    </div>

    <environment names="Development">
        
        <script src="~/js/jquery-ui-1.10.2.js"></script>
        <script src="~/js/metisMenu.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/bootstrapValidator.min.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
