<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D CytoFlow</title>
    <script type="text/javascript">
        var appInsights = window.appInsights || function(config) {
            function s(config) {
                t[config] = function() {
                    var i = arguments;
                    t.queue.push(function() { t[config].apply(t, i) })
                }
            }

            var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
            for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)s("track" + i.pop());
            return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function(config, r, f, e, o) {
                var s = u && u(config, r, f, e, o);
                return s !== !0 && t["_" + i](config, r, f, e, o), s
            }), t
        }({
            instrumentationKey: "cd0af4f0-c767-4266-9968-887461df8b4b"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();

        function hasWebGL() {
            try {
                gl = canvas.getContext("webgl");
            } catch (x) {
                gl = null;
            }

            if (gl === null) {
                try {
                    gl = canvas.getContext("experimental-webgl");
                    glExperimental = true;
                } catch (x) {
                    gl = null;
                }
            }

            if (gl) {
                return true;
            } else if ("WebGLRenderingContext" in window) {
                return true;
            } // not a best way, as you're not 100% sure, so you can change it to false
            else {
                return false;
            }
        }
    </script>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/Site.css"/>
        <link rel="stylesheet" href="~/css/bootstrapValidator.min.css"/>
        <link rel="stylesheet" href="~/css/metisMenu.css"/>
        <link rel="stylesheet" href="~/css/timeline.css"/>
        <link rel="stylesheet" href="~/css/datepicker.css"/>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/modernizr-2.8.3.js"></script>
        <script src="~/js/spin.js"></script>
        <script src="~/js/respond.js"></script>
    </environment>
    <style>
        .container {
            width: 99%;
            position: absolute;
        }
        footer.container.body-content {
            position: absolute;
            margin-left: 0px;
        }
    </style>
</head>
<body>
    @*Render Navigation Menu*@
@{
    // Wait for the navigation menu to be loaded
    @await Html.PartialAsync("NavigationMenu");
}
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Loading...
        </p>
    </div>
</div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer class="container body-content">
            <p style="text-align: center; margin-top: 5px;">&copy; @DateTime.Now.Year - 3DCytoFlow</p>
        </footer>       
    </div>

    <environment names="Development,Staging,Production">       
        <script src="~/js/jquery-ui-1.10.2.js"></script>
        <script src="~/js/metisMenu.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/bootstrapValidator.min.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
